<div class="field">
  <div class="card-stack">
    <img
      [ngStyle]="{ 'right.px': i * 5 }"
      *ngFor="let c of [0, 1, 2, 3]; let i = index"
      src="../../assets/img/cards/green_back.png"
      alt=""
    />
    <img
      (click)="takeCard()"
      class="top-card"
      style="right: 25px"
      src="../../assets/img/cards/green_back.png"
      alt=""
    />
    <img
      *ngIf="pickCardAnimation"
      class="pick-card"
      style="right: 25px"
      src="../../assets/img/cards/spade_1.png"
      alt=""
    />
  </div>
</div>
